    <div class="backdrop"></div>
    <div class="modal" tabindex="0">
      <div class="modal__header">
        <div class="modal__close"><i class="fa-solid fa-xmark"></i></div>
      </div>
      <div class="modal__content">

      </div>
    </div>
    <footer class="footer">
      <span class="site-name"><%= siteName %> &#169;&nbsp;</span><span class="year"></span>
    </footer>
  </div>  
  <%- include('./scripts') %>
</body>
</html>
