<%-include('../../includes/admin-header') %>
  <main>
    <h2>Create user with administrator role</h2>
    <form class="signup-form" id="signup-form" action="/admin/create-admin" method="post">
    
      <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" autocomplete="email" required>
      </div>
      <div class="form-control">
        <label for="nickname">Nickname:</label>
        <input type="text" name="nickname" id="nickname" autocomplete="nickname" maxlength="30" required >
      </div>
      <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" autocomplete="new-password" maxlength="40" required>
      </div>
      <div class="form-buttons">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="button button-submit" type="submit">SignUp</button>
  
      </div>
    </form>
  </main>
<%- include('../../includes/admin-footer') %>