<%- include('../includes/header', { metatags: [], links: [], scripts: [], }) %>
  <main>
    <h2>Your email has been verified. Now you can log in</h>
  </main>

<%- include('../includes/footer', { scripts: ['<script src="/javascripts/signup.js"></script>'],}) %>