<%- include('../includes/header', { metatags: [], links: [], scripts: [], }) %>
  <main>
    <p>Your email has been verified. Now you can login </p>
  </main>

<%- include('../includes/footer', { scripts: ['<script src="/javascripts/signup.js"></script>'],}) %>