<%- include('../includes/header', { metatags: [], links: [], scripts: [], }) %>
  <main>
    <p>Your verification code has expired. Please use the password reset to log in to the site.</p>
  </main>

<%- include('../includes/footer', { scripts: ['<script src="/javascripts/signup.js"></script>'],}) %>